/.idea/
/out/
*.iml

# Eclipse
.settings
.classpath
.project

screenshots/
/target/

# macOS Garbage file
.DS_Store
/build
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$2$1$2$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$1$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$3$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$5$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$2$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$4$1$1$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$4$2.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$invoke$lambda$43$lambda$34$lambda$28$$inlined$itemsIndexed$default$3.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$invoke$lambda$43$lambda$34$lambda$33$$inlined$itemsIndexed$default$3.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2.class
build/classes/kotlin/desktop/main/ui/SidebarKt.class
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlinDesktop/cacheable/last-build.bin
build/kotlin/compileKotlinDesktop/classpath-snapshot/shrunk-classpath-snapshot.bin
build/kotlin/compileKotlinDesktop/local-state/build-history.bin
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
.kotlin/sessions/kotlin-compiler-15341540234371823207.salive
.gradle/8.7/checksums/checksums.lock
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/file-system.probe
build/kotlin/compileKotlinDesktop/local-state/build-history.bin
build/kotlin/compileKotlinDesktop/classpath-snapshot/shrunk-classpath-snapshot.bin
build/kotlin/compileKotlinDesktop/cacheable/last-build.bin
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab_i
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab.keystream
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/lookups/lookups.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab.values.at
build/kotlin/compileKotlinDesktop/cacheable/caches-jvm/inputs/source-to-output.tab
build/classes/kotlin/desktop/main/ui/SidebarKt.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$invoke$lambda$43$lambda$34$lambda$33$$inlined$itemsIndexed$default$3.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$invoke$lambda$43$lambda$34$lambda$28$$inlined$itemsIndexed$default$3.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$4$2.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$4$1$1$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$2$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$5$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$3$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$3$2$1$1$1$1.class
build/classes/kotlin/desktop/main/ui/SidebarKt$GlassSidebar$2$1$2$1$2$1.class
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.7/fileHashes/resourceHashesCache.bin
.gradle/8.7/fileHashes/fileHashes.lock
.gradle/8.7/fileHashes/fileHashes.bin
.gradle/8.7/executionHistory/executionHistory.lock
.gradle/8.7/executionHistory/executionHistory.bin
.gradle/8.7/checksums/checksums.lock
